.GalleryItem-item {
  min-width: 17rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #323232;
  transition: 0.3s;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.GalleryItem-item:hover {
  box-shadow: 5px 7px 15px #323232;
  cursor: pointer;
}
.svg {
  background: rgba(223, 165, 165, 0.877);
  position: absolute;

  transform-origin: center;
  fill: transparent;
  animation: scale infinite linear;
}

.GalleryItem-title {
  z-index: 100;
}

@keyframes scale {
  0% {
  }
  100% {
    transform: rotate(360deg);
    top: -5rem;
  }
}
