.Navbar-container {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-title {
  font-size: 1.3rem;
  color: white;
}

.Navbar-navlink {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
@media screen and (min-width: 37.5em) {
  .Navbar-title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 75em) {
  .Navbar-title {
    font-size: 1.9rem;
  }
}
