.bg-primary-1 {
  background-color: #363031;
}
.bg-primary-2 {
  background-color: #413a3b;
}
.bg-primary-3 {
  background-color: #4c4344;
}
.bg-primary-4 {
  background-color: #564d4e;
}
.bg-primary-5 {
  background-color: #615658;
}

.bg-secondary-1 {
  background-color: #fcc5c5;
}
.bg-secondary-2 {
  background-color: #fdd8d8;
}
.bg-secondary-3 {
  background-color: #feecec;
}
.bg-secondary-4 {
  background-color: #fddfdf;
}
.bg-secondary-5 {
  background-color: #fde3e3;
}
